# 文本文件将根据签出平台自动切换换行符，会被更精确的规则覆盖。互斥规则会相互覆盖。
* text=auto

# CS
*.cs      text eol=lf 

# 文本文件
*.doc       diff=astextplain 
*.DOC	    diff=astextplain
*.docx	    diff=astextplain
*.DOCX	    diff=astextplain
*.dot	    diff=astextplain
*.DOT	    diff=astextplain
*.pdf	    diff=astextplain
*.PDF	    diff=astextplain
*.rtf	    diff=astextplain
*.RTF	    diff=astextplain
*.md        text diff=markdown
*.mdx       text diff=markdown 
*.tex       text diff=tex
*.epub      diff=astextplain

# 其他办公软件生成的文件
*.xls   binary
*.xlsx  binary
*.ppt   binary
*.pptx  binary

# Linux下文件
*.bash      text eol=lf 
*.fish      text eol=lf
*.ksh       text eol=lf
*.sh        text eol=lf
*.zsh       text eol=lf
*.desktop   text eol=lf

# Win下文件
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.ps1       text eol=crlf

# 项目文件
*.sln       text eol=crlf
*.slnx      text eol=crlf

# 压缩包，类型容易被识别错
*.7z       binary
*.bz       binary
*.bz2      binary
*.bzip2    binary
*.gz       binary
*.lz       binary
*.lzma     binary
*.rar      binary
*.tar      binary
*.taz      binary
*.tbz      binary
*.tbz2     binary
*.tgz      binary
*.tlz      binary
*.txz      binary
*.xz       binary
*.Z        binary
*.zip      binary
*.zst      binary

# 字体 / 可执行 / 二进制文件
*.ttf    binary
*.TTF    binary
*.ttc    binary
*.TTC    binary
*.dll    binary
*.bin    binary

# 打包忽略此类文件
# .gitattributes      export-ignore

# 大文件存储
*.iso filter=lfs diff=lfs merge=lfs -text lockable